@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  background-color: #63fafc;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 15px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}

.loader {
  margin-left: 45%;
  align-items: center;
  width: 148px;
  height: 148px;
  border: 5px dotted #2596be;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.blind {
  display: none;
}
.breed-select {
  width: 70%;
  margin: 0 auto;
  margin-left: 30%;
}
.cat-info-desc-desc,
.cat-info-desc-temp {
  line-height: 150%;
  font-size: 25px;
}

.cat-info {
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media screen and (min-width: 768px) {
  .cat-info {
    flex-direction: row;
  }
}
